.clipboard-sections { 
  display: flex; 
  flex-direction: column;
  gap: 10px; 
  width: 100%;
}

.clipboard-backup-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  cursor: pointer;
}

.clipboard-tabs {
  display: flex;
  gap: 10px;
}

.clipboard-tabs li {
  cursor: pointer;
}

.clipboard-tabs li:hover {
  text-decoration: underline;
}

