.storage-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.storage-file-dropdown { 
  position: relative; 
  border: 1px solid black; 
}

.storage-btn-wrapper {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  row-gap: 10px;
}

.storage-btn-wrapper__visible {
  visibility: visible;
}

.storage-btn {
  cursor: pointer;
}

.storage-file-btn {
  width: 250px;
  cursor: pointer;
}

.storage-name-wrapper {
  display: flex;
  position: relative;
}

.storage-text-wrapper {
  margin-top: 10px;
}

.storage-text-area { 
  width: 800px; 
  height: 750px; 
  border: 1px solid #aaaaaa; 
  padding: 5px;
}