.quick-timer-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    transition: height 200ms, width 200ms;
    cursor: pointer;
    border-radius: 0 0 0 5px;
}

.quick-timer-container__active {
    padding: 5px;
    width: 200px;
    height: 150px;
    cursor: unset;
    clip-path: none;
}

.quick-timer-title {
    color: white;
    font-size: 24px;
    text-align: center;
}

.quick-timer-body {
    display: flex;
    color: white;
}

.quick-timer-copy-list {
    flex: 1;
}

.quick-timer-copy-btn {
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    
}

.quick-timer-copy-btn:hover {
    background-color: white;
    color: black;
}

.quick-timer-week {
  position: relative;
  left: 15px;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  width: 30px;
  height: 30px;
}

.quick-timer-week::after {
  content: '';
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: 5px;
  bottom: 30px;
}

.quick-timer-week__single {
  left: 20px;
  top: 0px;
}

.quick-timer-week__single::after {
  right: 22px;
  top: 8px;
}