.clips-new-item { 
  display: flex; 
  flex-direction: column; 
  width: 200px; 
  gap: 5px;
}
.clips-add-btn { background: black; color: white; border-radius: 20px; cursor: pointer; }

.clips-item-wrapper {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.clips-item { 
  display: flex; 
  flex-direction: column; 
  width: 290px; 
  height: 100px;
  border: 1px dashed black;
  margin-top: 5px;
  padding: 5px;
  position: relative;
}

.clips-item_label {
  font-size: 24px;
}

.clips-item_value {
  position: relative;
  overflow: hidden;
  height: 35px;
}

.clips-item_value:hover {
  overflow: visible;
  z-index: 2;
  background-color: white;
  height: unset;
}

.clips-copy-btn { 
  background: black; 
  color: white; 
  cursor: pointer; 
  position: absolute;
  bottom: 10px;
}

.clips-is-favorite {
  position: absolute;
  bottom: 10px;
}

.clips-remove-btn { 
  background: red; 
  color: white; 
  border: lightcoral 1px solid;
  cursor: pointer; 
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.clips-moveup-btn, .clips-movedown-btn {
  width: 50px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  cursor: pointer; 
  background: blue;
  color: white;
  border: lightblue 1px solid;
}

.clips-moveup-btn {
  left: 102px;
}
.clips-movedown-btn {
  left: 158px;
}

.clips-success-msg {
  background-color: green;
  color: white;
  margin-bottom: 5px;
  padding: 5px;
  width: fit-content;
}