.kanban-wrapper {
  margin: 10px;
}

.kanban-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 10px;
  place-items: center;
  position: absolute;
  z-index: 2;
  background-color: white;
  right: 0;
  top: 0;
  height: 100%;
}

.kanban-form-wrapper_collapsed {
  width: 50px;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
  right: 0;
  top: 0;
  display: flex;
  place-items: center;
}

.kanban-form-show-btn {
  width: 50px;
  background-color: black;
  color: white;
  place-self: flex-start;
}

.kanban-form-show-btn_collapsed {
  place-self: center;
}

.kanban-form_title {
  width: 80%;
}

.kanban-form_description {
  width: 80%;
  height: 200px;
}

.kanban-form__url-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.kanban-form__url-add, .kanban_url-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  border: 1px dashed black;
  padding: 8px;
}

.kanban_url-list {
  width: fit-content;
}

.kanban_url-list a {
  margin-right: 6px;
}

.kanban-form_btn-wrapper {
  display: flex;
  gap: 50px;
}

.kanban-form-btn {
  background-color: black;
  color: white;
}

.kanban-work-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  overflow: auto;
  max-height: 1000px;
  padding-top: 30px;
  padding-bottom: 200px
}

.kanban-work-modes {
  position: absolute;
  top: 10px;
  min-width: 200px;
}

.kanban-work-card {
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  width: 500px;
  height: 600px;
  transition: box-shadow 400ms;
}

.kanban-work-card:hover {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.kanban-work-description {
  margin: 5px 0;
  height: 480px;
}

.kanban-work-links {
  display: flex;
  gap: 10px;
}

.kanban-work-status {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 600;
  font-size: 20px;
  color: gold;
}

.kanban-work-is-favorite {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  font-weight: 600;
  font-size: 20px;
  color: orange;
}

.kanban-work-status[data-status='not-started'] {
  color: purple;
}

.kanban-work-status[data-status='in-progress'] {
  color: darkgreen;
}

.kanban-work-status[data-status='done'] {
  color: red;
}

.kanban-work-edit-btn {
  position: absolute;
  bottom: 40px;
  right: 10px;
  background-color: black;
  color: white;
}

.kanban-work-copy-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
}