* {
  box-sizing: border-box
}

:where(input[type="text"],
  input[type="date"]) {
  cursor: text;
}

:where(input[type="password"],
  input[type="range"],
  input[type="color"],
  select) {
  cursor: pointer;
}

:where(input[type="radio"],
  input[type="checkbox"]) {
  cursor: pointer;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

[placeholder]:empty:focus::before {
  content: "";
}